@import url(./base.css);

/* etiqueta de producto */
.tag {
  font-size: 0.9rem;
  background-color: var(--color-black);
  border-radius: 5px;
  width: 4rem;
  display: flex;
  justify-content: center;
  color: var(--color-white);
  margin: 0;
}

/* producto */
.product-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem;

}

.product-card {
  background: var(--color-white);
  display: grid;
  grid-template-rows: 45% 55%;
  height: calc(100vh - 200px);
  box-shadow: 10px 10px 25px 0px #3c3c3c;
}

.product-image {
  width: 100%;
  background-image: url("../../public/img/blackcar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-description {
  background-color: var(--color-bg-green);
  color: var(--color-white);
  padding: 1rem;
  width: 100%;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-details>p {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.stars {
  color: yellow;
  font-size: 1em;
}

/* colores */
.colors-price {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.choose-color {
  margin: 0.8rem 0;
}

.colors {
  display: flex;
  width: 25%;
  justify-content: space-between;
  cursor: pointer;
}

.red {
  background: var(--color-red);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.gray {
  background: var(--color-gray);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.black {
  background: var(--color-black);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.new-price {
  font-size: 1.2rem;
  font-weight: bold;
}

.old-price {
  font-weight: 100;
  font-size: 0.8rem;
}

/* botones */
button {
  cursor: pointer;
}

#button {
  background-color: var(--color-black);
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
}

button white-button {
  background-color: var(--color-white);
}

.button-text {
  color: var(--color-white);
  margin-left: 5px;
}

.feedback {
  display: none;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
}

@media (min-width: 600px) {
  .product-card {
    height: calc(100vh - 150px);
  }

  .product-title {
    font-size: 1.8rem;
  }

  .product-details>p {
    margin-bottom: 0;
    font-size: 1rem;
  }

  .choose-color {
    margin: 1rem 0;
  }

  .red,
  .gray,
  .black {
    width: 26px;
    height: 26px;
  }

  .new-price {
    font-size: 1.5rem;
  }

  .old-price {
    font-size: 1rem;
  }
}

@media (min-width: 1100px) {
  .product-card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    height: calc(100vh - 500px);
  }

  .product-description {
    padding: 2rem 1rem;
  }

  .product-title {
    font-size: 2rem;
  }

  .choose-color {
    margin: 0.8rem 0;
  }

  .colors-price {
    margin-bottom: 1.5rem;
  }
}